/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a{color: inherit;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #A9A9A9;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
.container {
}
.wrapper {
	position: normal;
	width: 1920px;
	height: 152px;
	left: 0px;
	top: 0px;
}
.head {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04));
	border-radius: 0px 0px 40px 40px;
	background-color: #FFFFFF;
	position: absolute;
}
.head__header_up {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 80px;
	gap: 40px;
	width: 1920px;
	height: 72px;
}
.header_up__columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 80px;
	gap: 40px;
	width: 1920px;
	height: 72px;
}
.columns_city {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px 8px 8px;
	gap: 12px;
	width: 162px;
	height: 40px;
	border-radius: 8px;
}
.columns_nav {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	width: 777px;
	height: 40px;
}
.columns_nav__adres {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px 8px 8px;
	gap: 12px;
	width: 161px;
	height: 40px;
	border-radius: 8px;
}
.columns_nav__organisation {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px 8px 8px;
	gap: 12px;
	width: 171px;
	height: 40px;
	border-radius: 8px;
}
.columns_nav__feedback {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px 8px 8px;
	gap: 12px;
	width: 179px;
	height: 40px;
	border-radius: 8px;
}
.columns_nav__callback {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px 8px 8px;
	gap: 12px;
	width: 194px;
	height: 40px;
	border-radius: 8px;
}
.columns_phone {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px 8px 8px;
	gap: 12px;
	width: 183px;
	height: 40px;
	border-radius: 8px;
}
.head__header_down {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 80px 24px;
	gap: 64px;
	width: 1920px;
	height: 80px;
}
.header_down__logo {
	width: 168px;
	height: 48px;
}
.header_down__catalog {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px 32px 16px 24px;
	gap: 12px;
	width: 160px;
	height: 56px;
	background: #1DA03F;
	border-radius: 20px;
}
.catlog_text {
	width: 68px;
	height: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #FFFFFF;
}
.header_down__search_and_button_block {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;	
	width: 1528px;
	height: 56px;
}
.header_down__search {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3px 24px 3px 3px;
	gap: 16px;
	width: 1192px;
	height: 56px;
	background: #1DA03F;
	border-radius: 90px;
}
/* .search_line {
	width: 1077px;
	height: 24px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #434343;
} */
.search_field {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 13px 24px;
	gap: 10px;
	width: 1125px;
	height: 50px;
	background: #FFFFFF;
	border-radius: 90px;
}
.header_down__button_block {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	width: 128px;
	height: 56px;
}
.header_down_button {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	width: 56px;
	height: 56px;
	background: #F0F4F1;
	border: 1px solid #F5F5F5;
	border-radius: 12px;
}
.button_wallet {
	width: 24px;
	height: 24px;
}
.header_down_basket {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px;
	gap: 12px;
	width: 56px;
	height: 56px;
	background: #F0F4F1;
	border: 1px solid #F5F5F5;
	border-radius: 12px;
}
.button_basket {
	width: 24px;
	height: 24px;
}