/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 24px;
    color: #445964;
    font-weight: 500;
    font-family: Roboto;
}
/*------------------------главный блок---------------*/
.wrapper {
    min-height: 100%;
}
/*--------------------ограничивающий конт------------*/
._container {
    max-width: 1417px;
    margin: 0px auto;
}
/*-----------------------хедер-----------------------*/
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 117px;
    align-items: center;
}
.header__logo {
    font-size: 36px;
    font-weight: 900;
    color: inherit;
}
.header__menu {
margin: 0px 0px 0px 200px;
}
.menu {

}
.menu__list {
    display: flex;
}
.menu__item {
}
.menu__item:not(:last-child) {
    margin: 0px 93px 0px 0px;
}
.menu__link {
    color: inherit;
    line-height: 100%;
}