/* Обнуление */
/* *,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: 
} */
/*------------------------главный контейнер--------------- */
/* задаем цвет фона для контейнера nav. */
nav {
    margin: 100px 0;
    background-color: #E64A19;
}

/* убираем отступы и поля, а также list-style для "ul", 
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: #E64A19;
    }

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #000000;
}
/* скрываем выпадающие списки по умолчанию
* и задаем абсолютное позиционирование */
nav ul .submenu {
display: none;
position: absolute;
top: 100%;
}
			
/* отображаем выпадающий список при наведении */
nav .submenu li:hover > .submenu {
display:inherit;
}
			
/* первый уровень выпадающего списка */
nav ul .submenu li {
min-width:170px;
float:none;
display:list-item;
position: relative;
}