/* Обнуление */
@font-face {
    font-family: Gilroy; /* Имя шрифта */
    src: url(/mig/fonts/Gilroy-Light.otf);
    src: url(/mig/fonts/Gilroy-ExtraBold.otf); /* Путь к файлу со шрифтом */
  }
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  a {
    color: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  /*--------------------*/
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  ._wrapper {
    display: flex;
    width: 78%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 5px;
    align-items: center;
  }
  .header {
    display: flex;
    width: 100%;
    height: 65px;
    align-self: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: auto;
    margin: 98px 0px 0px 0px;
    justify-content: space-between;
    position: relative;
  }
  .header__logo {
    display: flex;
    flex-direction: column;
  }
  .header__logo_img {
    width: 100%;
  }
  .header__logo_text {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 114.8%;
  }
  .header__phone {
    display: flex;
  }
  .header__phone_img {
    width: 21px;
    height: 21px;
  }
  .header__phone_text {
    padding-left: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 126.8%;
  }
  .header__nav {
    display: flex;
  }
  .about {
  }
  .teach {
    padding-left: 48px;
  }
  .teach_text {
    color: #ffc700;
  }
  .technic {
    padding-left: 48px;
  }
  .contacts {
    padding-left: 48px;
  }
  .header__conversion {
    display: flex;
  }
  .conversion__button {
    width: 180.91px;
    height: 50px;
    background-color: #ffc700;
  }
  .main__img_fone {
    position: absolute;
    z-index: -50;
    padding-top: 75%;
    padding-left: 19%;
  }
  /*--------------------*/
  .main {
    width: 100%;
  }
  .main__img_moto {
    position: absolute;
    width: 1186px;
    height: 998px;
    padding-top: 5%;
    padding-left: 20%;  
  }
  .main__img_cone {
  }
  .main__img_cone_blure {
  }
  .main__title_text_white {
  }
  .main__title_text_orange {
  }
  .main__main_text {
  }
  .main__main_button1 {
  }
  .conversion__button_main {
  }